.bio {
  margin: 5% auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bioBody {
  text-indent: 5%;
  font-family: Fraunces;
  font-size: larger;
  padding: 7% 14%;
  line-height: 1.6;
}

.bioImage {
  border: 1px solid black;
}

.bioBody a {
  color: darkgrey;
  text-decoration: none;
}

.bioBody Link {
  color: darkgrey;
  text-decoration: none;
}
