.credits {
  margin: 5% auto;
  width: 60%;
  overflow: scroll;
  font-family: Fraunces;
  color: black;
  font-weight: 500;
}

.pageTitle {
  font-family: Fraunces;
  font-weight: 500;
  font-size: xx-large;
  margin: 3% auto;
  width: 66%;
}

.credits a {
  color: darkgrey;
  text-decoration: none;
}

.creditEntry {
  padding: 1%;
}

.title {
  font-size: larger;
}

.quote {
  margin: 3% 13%;
  font-style: italic;
}

.creditYear {
  font-size: 2em;
  margin: 3% 1%;
}
