.credits {
  margin: auto;
  width: 60%;
  overflow: scroll;
  font-family: Fraunces;
  color: black;
  font-weight: 500;
}

.credits a {
  color: darkgrey;
  text-decoration: none;
}

.creditEntry {
  padding: 1%;
}

.title {
  font-size: larger;
}

.quote {
  margin: 3% 13%;
  font-style: italic;
}
