/*.creditEntry {
  margin: 0% 5% 4% 5%;
  padding: 2% 1% 1% 0;
  background-color: white;
  border-left: 1px solid darkgrey;
  border-top: 1px solid darkgrey;
  opacity: 0.7;
}

.title {
  font-size: larger;
  /* border-left: 1px solid darkgrey;
  border-top: 1px solid darkgrey;
  padding: 1rem 0rem 0px 3rem;
}*/

@media only screen and (min-width: 850px) {
  /*.credits {
    margin: 5% auto;
    width: 68%;
    overflow: scroll;
    font-family: Fraunces;
    color: black;
    font-weight: 500;
  }

  .credits a {
    color: darkgrey;
    text-decoration: none;
  }*/

  .quote {
    margin: 3% 8%;
    text-indent: 2rem;
    font-style: italic;
  }

  .creditYear {
    font-size: 2em;
    margin: 3% 1%;
  }
}

@media only screen and (max-width: 850px) {
  .credits {
    margin: 5% auto;
    width: 87%;
    overflow: scroll;
    font-family: Fraunces;
    color: black;
    font-weight: 500;
  }

  .credits a {
    color: darkgrey;
    text-decoration: none;
  }

  /*.creditEntry {
    padding: 6% 0;
  }*/

  .title {
    padding: 1rem 0rem 0px 1rem;
  }

  .quote {
    padding: 3% 11% 0 11%;
    font-style: italic;
  }

  .creditYear {
    font-size: 2em;
    margin: 7% 1%;
  }
}
