.header {
  border-bottom: 1px solid black;
  height: 15vh;
  display: flex;
  padding: 0% 3%;
}

.nameContainer {
  font-family: CrimsonPro;
  font-size: xx-large;
  flex-grow: 1;
  margin: auto 0%;
}

.headerLinkContainer {
  display: flex;
  font-size: larger;
  justify-content: space-around;
  flex-grow: 3;
  margin: auto 0%;
}

.headerLink {
  font-family: Fraunces;
}
