.reviewPageContainer {
  display: flex;
}

.leftBar {
  border-right: 1px solid darkgray;
  margin-left: 5%;
  width: 20%;
}

.reviewContainer {
  max-width: 60%;
}

.reviewTitle {
  font-family: Fraunces;
  font-size: x-large;
  font-style: italic;
  margin: 4%;
}

.reviewAuthor {
  font-family: Fraunces;
  margin: auto;
  width: 91%;
}

.reviewBody {
  font-family: Fraunces;
  margin: 0% 15% 0 0%;
  padding: 6% 5% 0 4%;
  line-height: 2.2;
  text-indent: 10%;
  background: white;
  opacity: 0.8;
}

.leftBarEntry {
  font-family: Fraunces;
  padding: 8%;
  border-bottom: 1px solid darkgray;
}

.leftBarEntry:hover {
  background-color: lightgray;
  color: white;
}
